.grow-1
  %h1 Listing props

  %table
    %thead
      %tr
        %th Item
        %th Slotted
        %th Name
        %th Slots
        %th

    %tbody
      - @props.each do |prop|
        %tr
          %td= link_to prop.item.name, prop.item, class: 'link'
          %td= link_to prop.slotted.name, prop.slotted, class: 'link'
          %td= prop.name
          %td= prop.slots
          %td
            = link_to 'Show', prop, class: 'btn action-show'
            = link_to 'Edit', edit_prop_path(prop), class: 'btn action-edit'
            = link_to 'Destroy', prop, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn action-delete'

  = link_to 'New Prop', new_prop_path, class: 'btn action-new'
