= form_for [:manage, @prop] do |f|
  = render partial: 'manage/errors', locals: { model: @prop }
  .field
    = f.label :item, class: 'label'
    = f.collection_select :item_id, Item.order(:name), :id, :name, { include_blank: true }, class: 'input'
  .field
    = f.label :actor, class: 'label'
    = f.collection_select :slotted_id, Actor.order(:name), :id, :name, { include_blank: true }, class: 'input'
    = f.hidden_field :slotted_type, value: 'Actor'
  .field
    = f.label :name, class: 'label'
    = f.text_field :name, class: 'input'
  .field
    = f.label :description, class: 'label'
    = f.text_area :description, class: 'input'
  .field
    = f.label :slots, class: 'label'
    = f.text_field :slots_str, class: 'input'
  .actions
    = f.submit 'Save', class: 'btn action-confirm'
