.flex-1
  %h2 Listing Props

  %table.w-full
    %thead
      %tr
        %th ID
        %th Item
        %th Slotted
        %th Name
        %th Slots
        %th

    %tbody
      - @props.each do |prop|
        %tr
          %td= prop.id
          %td= link_to prop.item.name, manage_item_path(prop.item), class: 'link'
          %td
            - if prop.slotted.is_a?(Actor)
              = link_to prop.slotted.name, manage_actor_path(prop.slotted), class: 'link'
            - if prop.slotted.is_a?(Prop)
              = link_to prop.slotted.name, manage_prop_path(prop.slotted), class: 'link'
            - if prop.slotted.is_a?(Stage)
              = link_to prop.slotted.name, manage_stage_path(prop.slotted), class: 'link'
          %td= prop.name
          %td= prop.slots
          %td.actions
            = link_to manage_prop_path(prop), class: 'btn-round action-show' do
              = fa_icon('eye')
            = link_to edit_manage_prop_path(prop), class: 'btn-round action-edit' do
              = fa_icon('pencil')
            = link_to manage_prop_path(prop),
                method: :delete,
                data: { turbo_method: :delete, confirm: 'Are you sure?' },
                class: 'btn-round action-delete' do
              = fa_icon('trash')

  = link_to 'New Prop', new_manage_prop_path, class: 'btn action-new'
