.w-full
  %h1 Listing actors

  %table.w-full
    %thead
      %tr
        %th Stage
        %th Creature
        %th Name
        %th

    %tbody
      - @actors.each do |actor|
        %tr
          %td= link_to actor.stage.name, manage_stage_path(actor.stage), class: 'link'
          %td= link_to actor.creature.name, manage_creature_path(actor.creature), class: 'link'
          %td= actor.name
          %td
            = link_to 'Show', manage_actor_path(actor), class: 'btn action-show'
            = link_to 'Edit', edit_manage_actor_path(actor), class: 'btn action-edit'
            = link_to 'Destroy', manage_actor_path(actor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn action-delete'

  = link_to 'New Actor', new_manage_actor_path, class: 'btn action-new'
