.flex-1
  %h1 Listing items

  %table.w-full
    %thead
      %tr
        %th ID
        %th Name
        %th Description
        %th

    %tbody
      - @items.each do |item|
        %tr
          %td= item.id
          %td= item.name
          %td= item.description
          %td.actions
            = link_to manage_item_path(item), class: 'btn-round action-show' do
              = fa_icon("eye")
            = link_to edit_manage_item_path(item), class: 'btn-round action-edit' do
              = fa_icon('pencil')
            - unless item.props.present?
              = link_to manage_item_path(item),
                  method: :delete,
                  data: { turbo_method: :delete, confirm: 'Are you sure?' },
                  class: 'btn-round action-delete' do
                = fa_icon("trash")

  = link_to 'New Item', new_manage_item_path, class: 'btn action-new'
