.grow-1
  %h1 Listing items

  %table
    %thead
      %tr
        %th Name
        %th Description
        %th

    %tbody
      - @items.each do |item|
        %tr
          %td= item.name
          %td= item.description
          %td
            = link_to 'Show', manage_item_path(item), class: 'btn action-show'
            = link_to 'Edit', edit_manage_item_path(item), class: 'btn action-edit'
            - unless item.props.present?
              = link_to 'Destroy',
                        manage_item_path(item),
                        method: :delete,
                        data: { turbo_method: :delete, confirm: 'Are you sure?' },
                        class: 'btn action-delete'

  = link_to 'New Item', new_manage_item_path, class: 'btn action-new'
