.flex-1
  %h2 Database Adventure
  %p= "#{ @page_hits } page views"

  %h3 Actions
  = link_to "Play the Game", game_path, class: 'link'
  = link_to "View your Profile", profile_path, class: 'link'
  = link_to 'Manage Assets', manage_path, class: 'link'
