.flex-1
  %h2 Listing Passages

  %table.w-full
    %thead
      %tr
        %th ID
        %th From
        %th To
        %th Name
        %th Direction
        %th

    %tbody
      - @passages.each do |passage|
        %tr
          %td.w-12= passage.id
          %td= link_to passage.from.name, manage_stage_path(passage.from), class: 'link'
          %td= link_to passage.to.name, manage_stage_path(passage.to), class: 'link'
          %td= passage.name
          %td= passage.direction
          %td.actions
            = link_to manage_passage_path(passage), class: 'btn-round action-show' do
              = fa_icon('eye')
            = link_to edit_manage_passage_path(passage), class: 'btn-round action-edit' do
              = fa_icon('pencil')
            = link_to manage_passage_path(passage), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-round action-delete' do
              = fa_icon('trash')

  = link_to 'New Passage', new_manage_passage_path, class: 'btn action-new'
