.flex-1
  %h3 Game
  = turbo_frame_tag "display-stage" do
    = render partial: 'stages/stage', locals: { stage: @stage, character: @character }
.flex-none.lg:w-96{class: "w-1/3"}
  .flex.flex-col.gap-3
    .flex-1
      %h3 Description
      = turbo_frame_tag "display-info"
    .flex-1.h-96
      %h3 Character
      = turbo_frame_tag "display-character" do
        = render partial: 'actors/character', locals: { character: @character }




