.flex-1
  %h3 Game
  = turbo_frame_tag "display-stage" do
    .field
      .label Name:
      %h2= @stage.name
    .field
      .label Description:
      = @stage.description
    .field
      .label Actors
      = turbo_frame_tag dom_id(@stage, "actors"), src: game_actors_path(@stage)
    .field
      .label Props
      = turbo_frame_tag dom_id(@stage, "props"), src: game_props_path(@stage)
    .field
      .label Passages
      = turbo_frame_tag dom_id(@stage, "passages"), src: game_passages_path(@stage)
.flex-none.w-64
  %h3 Description
  = turbo_frame_tag "display-info"



