.flex-1
  .field
    .label Name:
    = @creature.name
  .field
    .label Description:
    = @creature.description
  .field
    .label Actors
    - if @creature.actors.present?
      - @creature.actors.each do |actor|
        = link_to actor.name, manage_actor_path(actor), class: 'link'
    - else
      There are no instance of this creature

  = link_to 'Edit', edit_manage_creature_path(@creature), class: 'btn action-edit'
  = link_to 'Back', manage_creatures_path, class: 'btn action-cancel'
