= turbo_stream_from stage
.stage{id: dom_id(stage) }
.field
  .label Name:
  %h2= stage.name
.field
  .label Description:
  = stage.description
.field
  .label Actors
  .target{ id: "#{ dom_id(stage) }_actors" }
    - stage.actors.each do |actor|
      = render partial: 'actors/actor', locals: { actor: actor, character: character }
.field
  .label Props
  .target{ id: "#{ dom_id(stage) }_props" }
    - stage.props.each do |prop|
      = render partial: 'props/prop', locals: { prop: prop, character: character }
.field
  .label Passages
  #passages
    - stage.passages_out.each do |passage|
      = render partial: 'passages/passage', locals: { passage: passage, character: character }
      = turbo_stream_from passage.to
      .target{ id: "#{ dom_id(passage.to) }_actors" }
        - passage.to.actors.each do |actor|
          = render partial: 'actors/actor', locals: { actor: actor, character: character }
      
.field
  .label Notifications
  .target{ id: "#{ dom_id(stage) }_notifications" }
    = render stage.notifications

