.grow-1
  %p#notice= notice

  .flex
    .grow-1
      %h3 Game
      = turbo_frame_tag "display-stage", src: game_stage_path(@stage) do
        %p Game is not loading...
    .grow-0
      %h4 Description
      = turbo_frame_tag "display-info" 

  = link_to 'Edit', edit_stage_path(@stage), class: 'btn action-edit'
  = link_to 'Back', stages_path, class: 'btn action-cancel'
