.grow-1
  %p#notice= notice

  .field
    .label Name:
    %h2= @stage.name
  .field
    .label Description:
    = @stage.description
  .field
    .label Actors
    - if @stage.actors.present?
      %ul
        - @stage.actors.each do |actor|
          %li
            = link_to actor.name, actor, class: 'link'
            (
            = link_to actor.creature.name, actor.creature, class: 'link'
            )
    - else
      %p No one is here but you
  .field
    .label Props
    - if @stage.props.present?
      %ul
        - @stage.props.each do |prop|
          %li= link_to prop.name, prop, class: 'link'
    - else
      %p No items are visible in this area
  .field
    .label Passages
    - if @stage.passages_out.present?
      %ul
        - @stage.passages_out.each do |passage|
          %li
            = link_to passage.name, passage, class: 'link'
            (
            = link_to passage.direction, passage.to, class: "link"
            )
    - else
      %p No visible passages go out from this area

  = link_to 'Edit', edit_stage_path(@stage), class: 'btn action-edit'
  = link_to 'Back', stages_path, class: 'btn action-cancel'
