.inline.target{id: dom_id(passage)}
  - if passage.compass?
    To the 
    = command(passage.direction, command: 'Move', direct: passage)
    through a 
    = passage.name
    you can see a 
    = passage.to.name
    = "."
  - else
    A
    = command(passage.direction, command: 'Move', direct: passage)
    allows access to
    = passage.to.name
    = "."




