!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DB Adventure
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.w-full.p-4
      - if user_signed_in?
        = link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'link'
    %main.w-full.mt-8.p-4.flex.flex-col.sm:flex-row.flex-wrap.sm:flex-nowrap
      = yield
