!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dbventure
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.container.mx-auto
      = link_to 'Stages', stages_path, class: 'link'
      = link_to 'Passages', passages_path, class: 'link'
      = link_to 'Creatures', creatures_path, class: 'link'
      = link_to 'Items', items_path, class: 'link'
      = link_to 'Actors', actors_path, class: 'link'
      = link_to 'Props', props_path, class: 'link'
    %main.container.mx-auto.mt-8.flex
      = yield
