!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DB Adventure
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.container.mx-auto.mt-2
      = link_to root_path do
        = icon("fa-solid", "house", class: "fa-2x text-stone-600")
      = link_to 'Stages', manage_stages_path, class: 'link'
      = link_to 'Passages', manage_passages_path, class: 'link'
      = link_to 'Creatures', manage_creatures_path, class: 'link'
      = link_to 'Items', manage_items_path, class: 'link'
      = link_to 'Actors', manage_actors_path, class: 'link'
      = link_to 'Props', manage_props_path, class: 'link'
      = link_to 'Notifications', manage_notifications_path, class: 'link'
    %main.container.mx-auto
      - if alert
        .w-full.flex.flex-col.sm:flex-row.flex-wrap.sm:flex-nowrap.p-4.mt-4.rounded-lg.border-2.border-red-500.bg-red-50.text-red-950
          %h3= alert
      - if notice
        .w-full.flex.flex-col.sm:flex-row.flex-wrap.sm:flex-nowrap.p-4.mt-4.rounded-lg.border-2.border-cyan-500.bg-cyan-50.text-cyan-950
          %h3= notice
      .w-full.flex.flex-col.sm:flex-row.flex-wrap.sm:flex-nowrap.p-4.mt-4.rounded-lg.border-2.border-slate-500
        = yield
