!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DB Adventure
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.container.mx-auto
      = link_to 'Stages', manage_stages_path, class: 'link'
      = link_to 'Passages', manage_passages_path, class: 'link'
      = link_to 'Creatures', manage_creatures_path, class: 'link'
      = link_to 'Items', manage_items_path, class: 'link'
      = link_to 'Actors', manage_actors_path, class: 'link'
      = link_to 'Props', manage_props_path, class: 'link'
      = link_to 'Notifications', manage_notifications_path, class: 'link'
    %main.container.mx-auto
      .w-full.flex.flex-col.sm:flex-row.flex-wrap.sm:flex-nowrap.py-4.flex-grow
        = yield
